*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: calibri;
}

html,body{
    width: 100%;
}

section{
    width: 366px;
    height: 258px;
    margin: 50px auto;
    position: relative;
}

section img{
    height: 100%;
    width: 100%;
}

.child {
    height: 0%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(118, 57, 57, 0.469);
    display: flex;
    justify-content: space-between;
    transition: height .3s .2s;
    overflow: hidden;
}

.child .content{
    padding: 20px;
    height: 100%;
    width: 100%;
}

.child .icons{
    padding: 20px;
    width: 30%;
    height: 100%;
    text-align: right;
}

.child .icons i{
    margin-left: 10px;
}

section:hover .child{
    height: 35%;
}

.fa-link{
    color: green;
    font-size: larger;
}

.fa-search-plus{
    color: palevioletred;
      font-size: larger;
}