/* ===============================1ST TIME===================================== */

/* .cube{
    height: 200px;
    width: 200px;
    background-color: yellow;
    animation-name: bgcolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: reverse;
}

@keyframes bgcolor{

    from{background-color: yellow;}
    to{background-color: purple;}
} */


/*==================================== 2ND TIME================================= */

/* .cube{
    height: 200px;
    width: 200px;
    background-color: yellow;
    animation-name: bgcolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: reverse;
}

@keyframes bgcolor{

   0%{background-color:yellow;}
   20%{background-color: aqua;}
   40%{background-color: blue;}
   60%{background-color: green;}
   80%{background-color: hotpink;}
   100%{background-color: orange;}
} */


/*===================================== 3RD TIME================================ */

/* .cube{
    height: 200px;
    width: 200px;
    margin:100px auto;
    background-color: yellow;
    animation-name: bgcolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: reverse;
}

@keyframes bgcolor{

   0%{transform: translate(20px,0px);}
   20%{transform: translate(70px,0px);}
   40%{transform: translate(150px,0px);}
   60%{transform: rotate(90deg); background-color: purple;}
   80%{transform: translate(350px,0px);}
   100%{transform: translate(500px,0px);}
} */




/* =======================================4TH TIME============================= */

/* .cube{
    height: 200px;
    width: 200px;
    margin:100px auto;
    background-color: yellow;
    animation-name: bgcolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: reverse;
}

@keyframes bgcolor{

   0%{transform: rotate(1);left: 200px;}
   20%{transform:rotate(1.2);left: 400px;}
   40%{transform:rotate(1);left: 400px;top: 200px;}
   60%{transform: rotate(1.2);background-color: purple;}
   80%{transform: rotate();left: 800px;}
   100%{transform:rotate();left: 1000px;}
} */

/* ==============================5TH TIME=========================================== */

/* .cube{
    height: 200px;
    width: 200px;
    margin:100px auto;
    background-color: yellow;
    animation-name: bgcolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: reverse;
}

@keyframes bgcolor{

   0%{transform: rotate(45deg);left: 200px;}
   20%{transform:rotate(90deg);left: 400px;}
   40%{transform:rotate(120deg);left: 400px;top: 200px;}
   60%{transform: rotate(160deg);background-color: purple;}
   80%{transform: rotate(270deg);left: 800px;}
   100%{transform:rotate(360deg);left: 1000px;}
} */